<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <title>About</title>
</head>
<body>

    <h1>AUTHOR</h1>
    <br>
    <br>
    <p>This is Kalaivanan(zod), and i hosted this site for super doper fun, Guys i need support for my upcoming project, if you are damn interested can join my <a href="https://discord.gg/je89JkMG">Discord</a>. Peace out!
        </p>
    <br>
    <br>
    <br>
    <br>
    <h3></h3>
    <!-- <a href="https://discord.gg/je89JkMG">Discord link</a> -->
</body>
</html>