<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign_up Newsletter</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="main.js"></script>
</head>
<body>
    <form action="/" method="POST">
    <div class="box">
        <div class="form">
            <h2>Sign Up Page</h2>
            <div class="inputBox">
                <input name="fname" type="text" required="required">
                <span>FirstName</span>
                <i></i>
            </div>

            <!-- div2 -->

            <div class="inputBox">
                <input name="lname" type="text" required="required">
                <span>LastName</span>
                <i></i>
            </div>

            <div class="inputBox">
                <input name="email" type="email" required = "required">
                <span>Email</span>
                <i></i>
            </div>
            <div class="links">
                <a class="a1" href="https://www.instagram.com/accounts/login/">Connect with Instagram</a>
                <!-- <a class="a2" href="#">Login</a> -->
            </div>

            <input type="submit" value="Submit">

        
        <footer class="footer"> Reserved Copyright © 2022 </footer>
    </div>
    <footer><a href="/about">About</a></footer>
    </div>
    
    
</form>
    <script src="main.js"></script>
</body>
</html>